{% extends "base.html" %}

{% block custom_menus %}
{% include "user_menus.html" %}
{% endblock custom_menus %}
{% load base_temp_tags %}
{% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/css/multi-select-tag.css">
<script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/js/multi-select-tag.js"></script>



<h4 class="fw-bold py-3 mb-4">New Gruop</h4>
<div class="card mb-4">
    <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
            <div class="mb-3 col-md-4" id="dbCol">
                <label for="dbConnection" class="form-label">UID</label>
                  <input class="form-control" name="uid">
            </div>

            <div class="mb-3 col-md-4" id="dbCol">
                <label for="dbConnection" class="form-label">API Name</label>
                  <input class="form-control" name="apiname">
            </div>

            <div class="mb-3 col-md-4" id="dbCol">
                <label for="dbConnection" class="form-label">API Type</label>
                  <select class="form-control" id="id_api_type" name="api_type" readonly>
                    <option value="rest">REST</option>
                </select>
            </div> 

            <div class="mb-3 col-md-4">
                <label for="dbConnection" class="form-label">API Method</label>
                  <select class="form-control" id="id_api_method" name="api_method">
                    <option value="post">POST</option>
                </select>
            </div> 

            <div class="mb-3 col-md-4" id="dbCol">
                <label for="dbConnection" class="form-label">DB Connection</label>
                <select class="form-select" id="dbConnection" name="db_connection" onchange="SeletctDB(this)" required>
                    <option selected="" value="">---------</option>
                    {% for db_eng in db_engines %}
                        <option value="{{ db_eng.id }}"
                                {% if db_eng.id == selected_db %}selected{% endif %}>{{ db_eng.db_connection }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3 col-md-4" id="dbCol">
                <label for="dbConnection" class="form-label">Schema</label>
                  <select class="form-control" id="id_schema" name="schema" required>
                    <option selected="" value="">---------</option>
                </select>
            </div>

       
            <div class="mb-3">
                <label for="dbConnection" class="form-label">URL</label>
                  <input class="form-control" name="document_url">
            </div>
           
            



            <div class="mb-3">
            <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>
</div>
</div>



    <script>

function SeletctDB(element){
let db = element.value
console.log(db);

$.ajax({
    type: 'GET',
    url: {% url 'get_db' %},
    data: {'db':db},
    success: function (data){

        console.log(data);  // This will log the response data
       if (data.db_con === "mysql" || data.db_con === "mssql") {
            console.log("Database Name:", data.db_name);
             $('#id_schema').empty();

                // Add a default option
             $('#id_schema').append(new Option('---------', ''));

            // Add the returned database name as a new option
             $('#id_schema').append(new Option(data.db_name, data.db_name));
        }else{
             let SchemaValue = data['schema_list'];

                    schemaeData = SchemaValue;
                    let schema = document.getElementById('id_schema');
                    schema.innerHTML = "";
                    schema.innerHTML = `<option value="" selected="">---------</option>`;

                    for (let i = 0; i < schemaeData.length; i++) {
                        schema.innerHTML += `<option value="${schemaeData[i]}">${schemaeData[i]}</option>`;
                    }

        }


    }

})

}


</script>


{#<script>#}
{##}
{#    function SeletctDB(element){#}
{#    let db = element.value#}
{#    console.log(db);#}
{#    #}
{#    $.ajax({#}
{#        type: 'GET',#}
{#        url: {% url 'get_db' %},#}
{#        data: {'db':db},#}
{#        success: function (data){#}
{#    #}
{#            let SchemaValue = data['schema_list'];#}
{#    #}
{#            schemaeData = SchemaValue;#}
{#            let schema = document.getElementById('id_schema');#}
{#            schema.innerHTML = "";#}
{#            schema.innerHTML = `<option value="" selected="">---------</option>`;#}
{#    #}
{#            for (let i = 0; i < schemaeData.length; i++) {#}
{#                schema.innerHTML += `<option value="${schemaeData[i]}">${schemaeData[i]}</option>`;#}
{#            }#}
{#    #}
{#        }#}
{#    #}
{#    })#}
{#    #}
{#    }#}
{#    #}
{#    #}
{#    </script>#}


{% endblock content %}


