{% extends "base.html" %}
{% block custom_menus %}
  {% include "user_menus.html" %}
{% endblock custom_menus %}
{% load base_temp_tags %}
{% load sql_views_tags %}
{% block content %}


    <h4 class="fw-bold mb-3 mt-2">Trace Details / {{ obj.api_name }}</h4>

<div class="card mt-4">
    <div class="table-responsive text-nowrap mt-3">
        <table class="table py-3" id="example" >
            <thead>
                <tr>
                    <th>Created</th>
                    <th>API Request Payload</th>
                    <th>API Response Payload</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                {% for obj in trace_data %}
                    <tr>
                        <td>{{obj.created_on}}</td>
                        <td>{{obj.api_request_payload}}</td>
                        <td>{{obj.api_response_payload}}</td>
                    </tr>


                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}
