{% extends "base.html" %}
{% block custom_menus %}
  {% include "user_menus.html" %}
{% endblock custom_menus %}
{% load base_temp_tags %}
{% load sql_views_tags %}
{% block content %}



<h4 class="fw-bold mb-3">SQL Views</h4>


<div class="row">

  <div class="col">
  {% if 'create' in permission or user.is_superuser or user.first_name == 'admin' %}
    <div class="demo-inline-spacing">
      <a href={% url 'views_add_form' %} class="btn btn-primary">
        <span class="tf-icons bx bx-list-plus"></span>&nbsp; New Sql
      </a>
       <a href="{% url 'group_form' %}" class="btn  btn-success">
        <span class="tf-icons bx bxs-add-to-queue"></span>&nbsp; Group Sql
      </a> 
    
    </div>
      {% endif %}
  </div>

  <div class="col mt-3">
    <div class="row justify-content-end">
      <div class="col-sm-6">
          <form method="get" action="{% url 'views_page' %}">
    <select id="authSelect" class="form-select" name="authSelect" onchange="this.form.submit()">
        <option value="" {% if selected_filter == "" %}selected{% endif %}>All</option>
        <option value="sql" {% if selected_filter == "sql" %}selected{% endif %}>Sql</option>
        <option value="group" {% if selected_filter == "group" %}selected{% endif %}>Group</option>
    </select>
</form>

      </div>
    </div>
  </div>


</div>

<div class="card mt-4">
    <div class="table-responsive text-nowrap mt-3">
        <table class="table py-3" id="example" >
            <thead>
                <tr>
                    <th>Action</th>
                    <th>API Name</th>
                    <th>API Method</th>
                    <th>UID</th>
                    <th>SQL Method</th>
                    <th>DB Engine</th>
                    <th>DB Connection</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                {% for obj in views_list %}
                    <tr>

                     <td>
                          {% if 'settings' in permission or user.is_superuser or user.first_name == 'admin' %}


{#                            <button class="btn btn-icon btn-sm btn-dark" data-bs-toggle="modal"#}
{#                                    data-bs-target="#basicModal{{ obj.id }}">#}
{#                                <i class='bx bx-cog'></i>#}
{#                            </button>#}

                              <div class="btn-group">
                                        <button class="btn btn-dark btn-sm dropdown-toggle dropdown-toggle-split"
                                                data-bs-toggle="dropdown" aria-expanded="true"
                                        >
                                            <i class='bx bx-cog'></i>
                                        </button>

                                    {% if user.is_superuser or user.first_name == 'admin' %}

                                        <ul class="dropdown-menu">
                                            {% if obj.api_header_property == '{"api_format": {"group": true}}' %}
                                                <li>
                                                    <a class="dropdown-item" href="{% url 'edit_group_form' obj.id %}">Edit
                                                        Form</a>
                                                </li>
                                                {% if obj.api_header != None %}
                                                    <li><a class="dropdown-item"
                                                           href="{% url 'update_sql_gp_form' obj.id %}">Edit Select
                                                        Sql</a>
                                                    </li>
                                                {% endif %}

                                            {% else %}

                                                <li><a class="dropdown-item" href="{% url 'views_edit_form' obj.id %}">Edit
                                                    Form</a>
                                                </li>
                                                <li><a class="dropdown-item" href="{% url 'sql_query_edit' obj.id %}">Edit
                                                    SQL</a>
                                                </li>

                                            {% endif %}


                                            {% if obj.api_header_property == '{"api_format": {"group": true}}' %}
                                                {% if obj.api_header == None %}
                                                    <li>
                                                        <a class="dropdown-item"
                                                           href="{% url 'select_sql_gp_form' obj.id %}">Select
                                                            SQL</a>
                                                    </li>
                                                {% endif %}
                                            {% endif %}

                                            {% if obj.api_header != None %}
                                                <li><a class="dropdown-item" href="{% url 'field_type_set' obj.id %}">Body
                                                    Params</a></li>
                                                <li><a class="dropdown-item" href="{% url 'run_group' obj.id %}">Run
                                                    Group</a></li>
                                                <li><a class="dropdown-item"
                                                       href="{% url 'api_body_response' obj.id %}">API Docs</a></li>

                                            {% elif obj.api_header_property == '{"api_format": {"group": false}}' %}
                                                <li><a class="dropdown-item" href="{% url 'field_type_set' obj.id %}">Body
                                                    Params</a></li>
                                                <li><a class="dropdown-item" href="{% url 'run_sql' obj.id %}">Run
                                                    Sql</a></li>
                                                <li><a class="dropdown-item"
                                                       href="{% url 'api_body_response' obj.id %}">API Docs</a></li>

                                            {% endif %}

                                        <li><a class="dropdown-item" href="{% url 'clone_sql' obj.id %}">Clone
                                                </a></li>

                                            <li><a class="dropdown-item" href="{% url 'revision_history' obj.id %}">Revision
                                                History</a></li>
                                            <li><a class="dropdown-item" href="{% url 'sqlviews_log_history' obj.id %}">Log
                                                History</a></li>
                                            {% if obj.api_trace %}
                                                <li><a class="dropdown-item"
                                                       href="{% url 'trace_view' obj.id %}">Trace</a></li>
                                            {% endif %}

                                            {% if obj.document_url %}
                                                <li><a class="dropdown-item" href="{{ obj.document_url }}"
                                                       target="_blank"><i
                                                        class="bx bxs-file"></i>&nbsp; View URL</a></li>
                                            {% endif %}


                                        </ul>

                                        {% endif %}


                               <ul class="dropdown-menu">
                               {% for dict_item in permission_action %}
                                        {% for key, value in dict_item.items %}
                                            {% if key == obj.id %}

                                                  {% if 'join' in value %}
                                                    <li>
                                                        <a class="dropdown-item"
                                                           href="{% url 'sql_views_join_read_permission' obj.uid %}">Join</a>
                                                    </li>
                                                {% endif %}


 {% if 'edit' in value %}
                                            {% if obj.api_header_property == '{"api_format": {"group": true}}' %}
                                                <li>
                                                    <a class="dropdown-item" href="{% url 'edit_group_form' obj.id %}">Edit
                                                        Form</a>
                                                </li>
                                                {% if obj.api_header != None %}
                                                    <li><a class="dropdown-item"
                                                           href="{% url 'update_sql_gp_form' obj.id %}">Edit Select
                                                        Sql</a>
                                                    </li>
                                                {% endif %}

                                            {% else %}

                                                <li><a class="dropdown-item" href="{% url 'views_edit_form' obj.id %}">Edit
                                                    Form</a>
                                                </li>
                                                <li><a class="dropdown-item" href="{% url 'sql_query_edit' obj.id %}">Edit
                                                    SQL</a>
                                                </li>

                                            {% endif %}


                                            {% if obj.api_header_property == '{"api_format": {"group": true}}' %}
                                                {% if obj.api_header == None %}
                                                    <li>
                                                        <a class="dropdown-item"
                                                           href="{% url 'select_sql_gp_form' obj.id %}">Select
                                                            SQL</a>
                                                    </li>
                                                {% endif %}
                                            {% endif %}

         {% endif %}

                                            {% if obj.api_header != None %}

                                                {% if 'body_params' in value %}
                                                <li><a class="dropdown-item" href="{% url 'field_type_set' obj.id %}">Body
                                                    Params</a></li>
                                                    {% endif %}

                                                {% if 'run' in value %}
                                                <li><a class="dropdown-item" href="{% url 'run_group' obj.id %}">Run
                                                    Group</a></li>
                                                    {% endif %}

                                                     {% if 'api_docs' in value %}
                                                <li><a class="dropdown-item"
                                                       href="{% url 'api_body_response' obj.id %}">API Docs</a></li>
                                                    {% endif %}

                                            {% elif obj.api_header_property == '{"api_format": {"group": false}}' %}

                                                  {% if 'body_params' in value %}
                                                <li><a class="dropdown-item" href="{% url 'field_type_set' obj.id %}">Body
                                                    Params</a></li>
                                                {% endif %}

                                                 {% if 'run' in value %}
                                                <li><a class="dropdown-item" href="{% url 'run_sql' obj.id %}">Run
                                                    Sql</a></li>
                                                     {% endif %}

                                                      {% if 'api_docs' in value %}
                                                <li><a class="dropdown-item"
                                                       href="{% url 'api_body_response' obj.id %}">API Docs</a></li>
                                                        {% endif %}

                                            {% endif %}

                                            {% if 'revision' in value %}

                                                  <li><a class="dropdown-item" href="{% url 'clone_sql' obj.id %}">Clone
                                                </a></li>
                                                
                                            <li><a class="dropdown-item" href="{% url 'revision_history' obj.id %}">Revision
                                                History</a></li>
                                                {% endif %}

                                                {% if 'loghistory' in value %}
                                            <li><a class="dropdown-item" href="{% url 'sqlviews_log_history' obj.id %}">Log
                                                History</a></li>
                                                {% endif %}

                                                 {% if 'trace' in value %}
                                            {% if obj.api_trace %}
                                                <li><a class="dropdown-item"
                                                       href="{% url 'trace_view' obj.id %}">Trace</a></li>
                                            {% endif %}
                                                 {% endif %}

                                            {% if obj.document_url %}
                                                <li><a class="dropdown-item" href="{{ obj.document_url }}"
                                                       target="_blank"><i
                                                        class="bx bxs-file"></i>&nbsp; View URL</a></li>
                                            {% endif %}


                                            {% endif %}
                                        {% endfor %}
                               {% endfor %}

                                        </ul>
   {% endif %}

                                   </div>

                        </td>



                        <td>{{obj.api_name}}</td>
                        <td><span class="badge rounded-pill bg-label-success">{{obj.api_method}}</span></td>
                        <td>{{obj.uid}}</td>
                        
                        {% if obj.api_header_property == '{"api_format": {"group": true}}' %}
                           <td><span class="badge rounded-pill bg-label-danger">Group</td>
                        {% else %}
                           <td><span class="badge rounded-pill bg-label-warning">Sql</td>
                        {% endif %}

                        <td>{{ obj.db_connection|get_engine}}</td>

                        <td>{{ obj.db_connection_name }}</td>




                        <div class="modal fade" id="basicModal{{ obj.id }}" tabindex="-1" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel1">{{ obj.api_name}}</h5>
                                <button
                                  type="button"
                                  class="btn-close"
                                  data-bs-dismiss="modal"
                                  aria-label="Close"
                                ></button>
                              </div>

                              <div class="modal-body">
                                <div class="row g-2">
                                </div>
                                <div class="row g-2">
                                  <div class="col mb-0">

                                    {% if obj.api_header_property == '{"api_format": {"group": true}}' %}

                                      {% comment %} <div class="col mb-0">
                                        <a class="dropdown-item" href="{% url 'edit_group_form' obj.id %}"><i
                                                class="bx bxs-edit"></i>&nbsp; Edit</a>
                                      
                                        </div> {% endcomment %}


                                        <div class="btn-group">
                                          <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                                href=""><i
                                                     class="bx bxs-edit me-1"></i> Edit</a>
   
                                             <ul class="dropdown-menu" style="">
                                                 <li><a class="dropdown-item" href="{% url 'edit_group_form' obj.id  %}">Form</a></li>
                                                 {% if obj.api_header != None %}
                                                 <li><a class="dropdown-item" href="{% url 'update_sql_gp_form' obj.id %}">Select Sql</a></li>
                                                 {% else %}
                                                 {% endif  %}
   
                                             </ul>
                                         </div>
                        
                                    {% else %}

              
                                      <div class="btn-group">
                                       <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                             href=""><i
                                                  class="bx bxs-edit me-1"></i> Edit</a>

                                          <ul class="dropdown-menu" style="">
                                              <li><a class="dropdown-item" href="{% url 'views_edit_form' obj.id  %}">Form</a></li>
                                              <li><a class="dropdown-item" href="{% url 'sql_query_edit' obj.id %}">SQL</a></li>

                                          </ul>
                                      </div>

                                    {% endif %}


                                      <div class="col mb-0">
                                        {% if obj.document_url %}
                                        <a class="dropdown-item" href="{{ obj.document_url }}" target="_blank"><i class="bx bxs-file"></i>&nbsp; View URL</a>
                                
                                    {% else %}
                                        
                                    {% endif %}

                                        <a class="dropdown-item" href="{% url 'sqlviews_log_history' obj.id %}"><i class="bx bxs-time-five"></i> Log History</a>

                                          {% if obj.api_trace %}
                                              <a class="dropdown-item" href="{% url 'trace_view' obj.id %}"><i
                                                      class="bx bxs-detail"></i>Trace</a>
                                          {% endif %}

                                    </div>



                                  </div>
                                    <div class="col mb-0">

                                      {% if obj.api_header_property == '{"api_format": {"group": true}}' %}
                                      {% if obj.api_header == None %}
                                     
                                      <div class="col mb-0">
                                        <a class="dropdown-item" href="{% url 'select_sql_gp_form' obj.id %}"><i
                                                class="bx bxs-select-multiple"></i>&nbsp; Select Sql</a>
                                      
                                        </div>

                                        {% else %}
 
                                        
                                        {% comment %} <div class="col mb-0">
                                          <a class="dropdown-item" href="{% url 'update_sql_gp_form' obj.id %}"><i
                                                  class="bx bxs-select-multiple"></i>&nbsp; Update Select Sql</a>
                                        
                                          </div> {% endcomment %}

                                          {% endif %}

                          
                                        {% else %}
                                            
                                        {% endif %}

  
                                        {% if obj.api_header != None %}          
                                        <div class="btn-group">
                                          <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                            href=""><i class="bx bxs-map-alt me-1"></i> API End Point</a>

                                          <ul class="dropdown-menu" style="">
                                              <li><a class="dropdown-item" href="{% url 'field_type_set' obj.id  %}">Body Params</a></li>
                                              <li><a class="dropdown-item" href="{% url 'api_body_response' obj.id %}">API Docs</a></li>

                                          </ul>
                                      </div>

                                      <a class="dropdown-item" href="{% url 'run_group' obj.id %}"><i class="bx bxl-play-store"></i> Run Group </a>

                                      {% elif obj.api_header_property == '{"api_format": {"group": false}}' %}

                                      <div class="btn-group">
                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                          href=""><i class="bx bxs-map-alt me-1"></i> API End Point</a>

                                        <ul class="dropdown-menu" style="">
                                            <li><a class="dropdown-item" href="{% url 'field_type_set' obj.id  %}">Body Params</a></li>
                                            <li><a class="dropdown-item" href="{% url 'api_body_response' obj.id %}">API Docs</a></li>

                                        </ul>
                                    </div>

                                    
                                      <a class="dropdown-item" href="{% url 'run_sql' obj.id %}"><i class="bx bxl-play-store"></i>&nbsp; Run SQL</a>
                               
                                    {% endif %}

                                      <a class="dropdown-item" href="{% url 'revision_history' obj.id %}"><i class="bx bxs-book-content"></i> Revision History</a>

                                   
                                      

                                        
                                    </div>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>


                    </tr>
                     
                      
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>





{% endblock content %}
