{% extends "base.html" %}
{% block custom_menus %}
    {% include "user_menus.html" %}
{% endblock custom_menus %}
{% load base_temp_tags %}
{% block content %}
    <h4 class="fw-bold py-3 mb-4">Core Api</h4>
    <div class="row mt-4">
        <div class="col-auto">
              {% if 'create' in permission or user.is_superuser or user.first_name == 'admin' %}
            <a href="{% url "get_core_api_uids" %}" class="btn btn-primary">
                <span class="tf-icons bx bx-list-plus"></span>&nbsp; Add New
            </a>
            {% endif %}
        </div>
    </div>
    <div class="card mt-4">
        <div class="table-responsive text-nowrap mt-2">
            <table class="table py-3" id="example">
                <thead>
                <tr>
                     <th></th>
                    <th>API Name</th>
                    <th>API Type</th>
                    <th>API Method</th>
                    <th>UID</th>
                    <th>DB Connection</th>
                    <th>Python Code</th>

                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                {% for api in core_api %}
                    <tr>
                      <td>
                            {% if 'settings' in permission or user.is_superuser or user.first_name == 'admin' %}
                            <div class="btn-group">
                                        <button class="btn btn-dark btn-sm dropdown-toggle dropdown-toggle-split"
                                                data-bs-toggle="dropdown" aria-expanded="true"
                                        >
                                            <i class='bx bx-cog'></i>
                                        </button>

                                    {% if user.is_superuser or user.first_name == 'admin' %}

                                        <ul class="dropdown-menu">

                                            <li>
                                                <a class="dropdown-item"
                                                   href="{% url "update_api_core" api.id %}">
                                                    Edit File
                                                </a>
                                            </li>
                                                 <li>
                                                <a class="dropdown-item"
                                                   href="{% url "update_api_name" api.id %}">
                                                    Edit API Name
                                                </a>
                                            </li>


                                            <li>
                                                <a class="dropdown-item"
                                                   href="{% url "api_core_file_view" api.id %}">
                                                    View Code
                                                </a>
                                            </li>


                                             <li>
                                                <a class="dropdown-item"
                                                   href="{% url 'body_param_form' api.id %}">
                                                    API Body Params
                                                </a>
                                            </li>

                                             <li>
                                                <a class="dropdown-item"
                                                   href="{% url "api_docs" api.id %}">
                                                    API Docs
                                                </a>
                                            </li>

                                            <li>
                                                <a class="dropdown-item"
                                                   href="{% url "core_clone_api_uids" api.id %}">
                                                    Clone
                                                </a>
                                            </li>

                                            <li>
                                                <a class="dropdown-item"
                                                   href="{% url "api_core_migrations" api.id %}">
                                                    Revision History
                                                </a>
                                            </li>

                                            <li>
                                                <a class="dropdown-item"
                                                   href="{% url "api_core_logs" api.id %}">
                                                    Log History
                                                </a>
                                            </li>


                                            {% if api.document_url %}
                                                <li>
                                                    <a class="dropdown-item" href="{{ api.document_url }}"
                                                       target="_blank">
                                                        <i class="bx bxs-file-doc"></i> Document
                                                    </a>
                                                </li>
                                            {% endif %}

                                                </ul>

                                                {% endif %}

                                <ul class="dropdown-menu">
                                    {% for dict_item in permission_action %}
                                        {% for key, value in dict_item.items %}
                                            {% if key == api.id %}

                                                {% if 'join' in value %}
                                                    <li>
                                                        <a class="dropdown-item"
                                                           href="{% url 'core_api_join_read_permission' api.uid %}">Join</a>
                                                    </li>
                                                {% endif %}

                                                {% if 'edit' in value %}
                                                    <li>
                                                        <a class="dropdown-item"
                                                           href="{% url "update_api_core" api.id %}">
                                                            Edit File
                                                        </a>
                                                    </li>
                                                {% endif %}
                                                {% if 'edit' in value %}
                                                    <li>
                                                        <a class="dropdown-item"
                                                           href="{% url "update_api_name" api.id %}">
                                                            Edit API Name
                                                        </a>
                                                    </li>
                                                {% endif %}
                                                {% if 'view_code' in value %}

                                                    <li>
                                                        <a class="dropdown-item"
                                                           href="{% url "api_core_file_view" api.id %}">
                                                            View Code
                                                        </a>
                                                    </li>
                                                {% endif %}

                                                {% if 'api_docs' in value %}

                                                    <li>
                                                        <a class="dropdown-item"
                                                           href="{% url 'body_param_form' api.id %}">
                                                            API Body Params
                                                        </a>
                                                    </li>
                                                {% endif %}

                                                {% if 'api_docs' in value %}

                                                    <li>
                                                        <a class="dropdown-item"
                                                           href="{% url "api_docs" api.id %}">
                                                            API Docs
                                                        </a>
                                                    </li>

                                                {% endif %}
                                                {% if 'revision' in value %}


                                                    <li>
                                                        <a class="dropdown-item"
                                                           href="{% url "api_core_migrations" api.id %}">
                                                            Revision History
                                                        </a>
                                                    </li>

                                                      <li>
                                                        <a class="dropdown-item"
                                                           href="{% url "core_clone_api_uids" api.id %}">
                                                            Clone
                                                        </a>
                                                    </li>

                                                {% endif %}

                                                {% if 'loghistory' in value %}

                                                    <li>
                                                        <a class="dropdown-item"
                                                           href="{% url "api_core_logs" api.id %}">
                                                            Log History
                                                        </a>
                                                    </li>

                                                {% endif %}
                                                {% if api.document_url %}
                                                    <li>
                                                        <a class="dropdown-item" href="{{ api.document_url }}"
                                                           target="_blank">
                                                            <i class="bx bxs-file-doc"></i> Document
                                                        </a>
                                                    </li>
                                                {% endif %}


                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}

                                </ul>




                      {% endif %}
                      </td>
                        <td>{{ api.api_name }}</td>
                        <td>{{ api.api_type }}</td>
                        <td><span
                                class="badge rounded-pill bg-label-{{ api.api_method|badge }}">{{ api.api_method }}</span>
                        </td>
                        <td>{{ api.uid }}</td>
                        <td>{{ api.db_connection_name }}</td>
                        <td><b>{{ api.api_code_name|trim_file_name }}</b></td>

                            <div class="modal fade" id="table-settings-{{ api.id }}" tabindex="-1"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"
                                                id="exampleModalLabel1">{{ api.api_name }}</h5>
                                            <button
                                                    type="button"
                                                    class="btn-close"
                                                    data-bs-dismiss="modal"
                                                    aria-label="Close"
                                            ></button>
                                        </div>

                                        <div class="modal-body">
                                            <div class="row">
                                                 {% comment %} <div class="col-sm-6">
                                                    <a class="dropdown-item" href="{% url "update_api_core" api.id %}">
                                                        <i class="bx bx-edit-alt me-1"></i> Edit
                                                    </a>
                                                </div>  {% endcomment %}
                                                <div class="col-sm-6">
                                                <div class="btn-group">
                                                    <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                                       href=""><i
                                                            class="bx bxs-edit me-1"></i> Edit</a>
              
                                                    <ul class="dropdown-menu" style="">
                                                        <li><a class="dropdown-item" href="{% url "update_api_core" api.id %}">File</a></li>
                                                        <li><a class="dropdown-item" href="{% url 'update_api_name' api.id %}">API Name</a></li>
              
                                                    </ul>
                                                </div>
                                            </div>


                                                <div class="col-sm-6">
                                                    <a class="dropdown-item"
                                                       href="{% url "api_core_file_view" api.id %}">
                                                        <i class="bi bi-eye-fill"></i> View Code
                                                    </a>
                                                </div>


                                                
                                                
                                                <div class="col-sm-6">
                                                    <a class="dropdown-item"
                                                       href="{% url "api_core_migrations" api.id %}">
                                                        <i class="bx bxs-book-content"></i> Revision History
                                                    </a>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="btn-group">
                                                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                                           href=""><i
                                                                class="bx bxs-map-alt me-1"></i>  API End Point</a>
                  
                                                        <ul class="dropdown-menu" style="">
                                                            <li><a class="dropdown-item" href="{% url 'body_param_form' api.id %}">Body Params</a></li>
                                                            <li><a class="dropdown-item" href="{% url 'api_docs' api.id %}">API Docs</a></li>
                  
                                                        </ul>
                                                    </div>
                                                </div>
                                               

                                                <div class="col-sm-6">
                                                    <a class="dropdown-item" href="{% url "api_core_logs" api.id %}">
                                                        <i class='bx bxs-file'></i> Log History
                                                    </a>
                                                </div>
                                                {% if api.document_url %}
                                                    <div class="col-sm-6">
                                                        <a class="dropdown-item" href="{{ api.document_url }}"
                                                           target="_blank">
                                                            <i class="bx bxs-file-doc"></i> Document
                                                        </a>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}