<ul class="menu-inner py-1">
    <li class="menu-item" id="menu-app">
        <a href="/admin/app/application_groups/" class="menu-link">
            <i class='menu-icon tf-icons bx bxs-package'></i>
            <div data-i18n="Application">Application</div>
        </a>
    </li>
    <li class="menu-item" id="menu-user-masters">
        <a href="/user-master/user-master-view/" class="menu-link">
            <i class='menu-icon tf-icons bx bxs-user'></i>
            <div data-i18n="User Masters">User Masters</div>
        </a>
    </li>
    <li class="menu-item" id="menu-roles-masters">
        <a href="/user-master/roll-master-view/" class="menu-link">
            <i class='menu-icon tf-icons bx bxs-user-badge'></i>
            <div data-i18n="Roles Masters">Roles Masters</div>
        </a>
    </li>
    <li class="menu-item" id="menu-user-privilege">
        <a href="/user-master/user-privilege-view/" class="menu-link">
            <i class='menu-icon tf-icons bx bxs-user-detail'></i>
            <div data-i18n="User Privilege">User Privilege</div>
        </a>
    </li>
    <li class="menu-item" id="menu-menu-elements">
        <a href="/user-master/menu-list/" class="menu-link">
            <i class='menu-icon tf-icons bx bxs-food-menu'></i>
            <div data-i18n="Menu Elements">Menu Elements</div>
        </a>
    </li>
    <li class="menu-item" id="menu-menu-privilege">
        <a href="/user-master/menu-privilege-list/" class="menu-link">
            <i class='menu-icon tf-icons bx bxs-food-menu'></i>
            <div data-i18n="Menu Privilege">Menu Privilege</div>
        </a>
    </li>
    <li class="menu-item" id="menu-export">
        <a href="{% url 'home' %}" class="menu-link">
            <i class='menu-icon tf-icons bx bx-export'></i>
            <div data-i18n="Export">Export</div>
        </a>
    </li>
    <li class="menu-item" id="menu-import">
        <a href="{% url 'import_list' %}" class="menu-link">
            <i class='menu-icon tf-icons bx bx-import'></i>
            <div data-i18n="Import">Import</div>
        </a>
    </li>
</ul>