{% extends 'base.html' %}
{% block custom_menus %}
  {% include "user_menus.html" %}
{% endblock custom_menus %}
{% block content %}


<h4 class="fw-bold py-3 mb-4"> {{ db_name }} / {{ db_schema }} / tables</h4>

<div class="card mt-4">
    <div class="table-responsive text-nowrap mt-2">
        <table class="table py-3" id="example">
            <thead>
                <tr>
                    <th>Table Name</th>
                    <th>Table Column</th>
                    <th>Table Records</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                {% for field in table_data %}
                    <tr>
                        <td>{{field}}</td>
                          <td><a href="{% url 'column_list' id schema_name field %}" class="btn btn-sm btn-primary"><i class="bi bi-grid-1x2-fill"></i>&nbsp;  View Column</a></td>
                          <td><a href="{% url 'get_records' id schema_name field %}" class="btn btn-sm btn-primary"><span class="tf-icons bx bx-table"></span>&nbsp; View Data</a></td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}