{% extends "base.html" %} 
{% block custom_menus %}
  {% include "user_menus.html" %}
{% endblock custom_menus %}
{% block content %}
<h4 class="fw-bold py-3 mb-4">New Api Meta</h4>
<div class="card mb-4">
  <div class="card-body">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-3">
            <label class="form-label" for="basic-default-fullname">{{field.label}}</label>
            {{field}}
        </div>
        {% endfor %}
        <div class="mb-3" id="dbCol">
          <label for="dbConnection" class="form-label">DB Connection</label>
          <select class="form-select" id="dbConnection" name="db_connection">
            {% for db_eng in db_engines %}
                <option value="{{db_eng.id}}" {% if db_eng.id == selected_db %}selected{% endif %}>{{db_eng.db_connection}}</option>
            {% endfor %}
          </select>
        </div>
      <button type="submit" class="btn btn-primary">Send</button>
    </form>
  </div>
</div>
{% endblock content %}